* {
    margin: 0;
    font-family: 'Arvo', serif;
}

.question {
    background-color: beige;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: large;
    border-radius: 20%;
    margin: 10px;
    position: absolute;
}

p {
    margin-top: 50px;
}

.answer {
    background-color: brown;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: large;
    border-radius: 20%;
    margin: 10px;
    position: relative;
    transform: rotateY(180deg);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

body {
    background-image: url(world.png);
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
}

.quiz_area {
    padding-top: 25px;
}

/* Remove this if you don't want the 3D effect */
.outer {
perspective: 1000px;
}

/* This container is needed to position the front and back side */
.container {
transition: 0.8s;
transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.outer:hover .container {
transform: rotateY(180deg);
}

.question, .answer {
backface-visibility: hidden;
}